/**********
PADDING
**********/


/**********
DEFAULT PADDING
**********/
.add-pad-top {
	padding-top: 24px!important
}
.add-pad-bot {
	padding-bottom: 24px!important
}
.add-pad-left {
	padding-left: 24px!important
}
.add-pad-right {
	padding-right: 24px!important
}
.add-pad-all {
	padding: 24px!important
}


/**********
SMALL PADDING
**********/

.add-pad-top-16 {
	padding-top: 16px!important
}
.add-pad-bot-16 {
	padding-bottom: 16px!important
}
.add-pad-left-16 {
	padding-left: 16px!important
}
.add-pad-right-16 {
	padding-right: 16px!important
}
.add-pad-all-16 {
	padding: 24px!important
}

/**********
LARGE PADDING
**********/

.add-pad-top-32 {
	padding-top: 32px!important
}
.add-pad-bot-32 {
	padding-bottom: 32px!important
}
.add-pad-left-32 {
	padding-left: 32px!important
}
.add-pad-right-32 {
	padding-right: 32px!important
}
.add-pad-all-32 {
	padding: 32px!important
}

/**********
XS PADDING
**********/

.add-pad-top-8 {
	padding-top: 8px!important
}
.add-pad-bot-8 {
	padding-bottom: 8px!important
}
.add-pad-left-8 {
	padding-left: 8px!important
}
.add-pad-right-8 {
	padding-right: 8px!important
}
.add-pad-all-8 {
	padding: 8px!important
}

/**********
NO PADDING
**********/

.no-pad-top {
	padding-top: 0!important
}
.no-pad-bot {
	padding-bottom: 0!important
}
.no-pad-left {
	padding-left: 0!important
}
.no-pad-right {
	padding-right: 0!important
}
.no-pad-all {
	padding: 0!important
}

/**********
DEFAULT MARGIN
**********/

/**********
DEFAULT MARGIN
**********/
.add-margin-top {
	margin-top: 24px!important
}
.add-margin-bot {
	margin-bottom: 24px!important
}
.add-margin-left {
	margin-left: 24px!important
}
.add-margin-right {
	margin-right: 24px!important
}
.add-margin-all {
	margin: 24px!important
}


/**********
SMALL MARGIN
**********/

.add-margin-top-16 {
	margin-top: 16px!important
}
.add-margin-bot-16 {
	margin-bottom: 16px!important
}
.add-margin-left-16 {
	margin-left: 16px!important
}
.add-margin-right-16 {
	margin-right: 16px!important
}
.add-margin-all-16 {
	margin: 24px!important
}

/**********
LARGE MARGIN
**********/

.add-margin-top-32 {
	margin-top: 32px!important
}
.add-margin-bot-32 {
	margin-bottom: 32px!important
}
.add-margin-left-32 {
	margin-left: 32px!important
}
.add-margin-right-32 {
	margin-right: 32px!important
}
.add-margin-all-32 {
	margin: 32px!important
}

/**********
XS MARGIN
**********/

.add-margin-top-8 {
	margin-top: 8px!important
}
.add-margin-bot-8 {
	margin-bottom: 8px!important
}
.add-margin-left-8 {
	margin-left: 8px!important
}
.add-margin-right-8 {
	margin-right: 8px!important
}
.add-margin-all-8 {
	margin: 8px!important
}

/**********
NO MARGIN
**********/

.no-margin-top {
	margin-top: 0!important
}
.no-margin-bot {
	margin-bottom: 0!important
}
.no-margin-left {
	margin-left: 0!important
}
.no-margin-right {
	margin-right: 0!important
}
.no-margin-all {
	margin: 0!important
}


/**********
TYPOGRAPHY
**********/

.light {
	font-weight: 400!important;
}

.lighter {
	font-weight: 300!important;
}

.thin {
	font-weight: 200!important;
}

.thinner {
	font-weight: 100!important;
}

.bold {
	font-weight: 700!important;
}

.bolder {
	font-weight: 800!important;
}

/**********
POSITION
**********/
.center-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
