.tabs.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs.center .tab {
  float: none;
}

p {
  opacity: 0.9;
}

.nav-content.pinned {
  right: 0;
  left: 0;
  z-index: 2;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nav-content.pinned + .pushpin-placeholder {
  height: 48px;
}

.card-image {
  cursor: pointer;
}

/*********
MASONRY GRID
*********/

.grid-sizer {
  width: 8.3333333333%;
}

/*********
Collection Inside Card
*********/

.card .card-content .collection {
  margin: -24px;
  border: none;
}

/*********
Chips
*********/

p .chip {
  margin-bottom: 0.5rem;
}

.chip.large {
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 24px;
}

.chip.large > img {
  margin: 0 12px 0 -24px;
  height: 40px;
  width: 40px;
}

/*********
Sections
*********/

section {
  padding: 24px 0;
}

/*********
Custom CSS
*********/

.grid .col {
  transition: all 0.2s ease;
}

.grid .col.inactive {
  opacity: 0;
  transform: translateY(50%);
}
